.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 85vh;
  width: 100vw;
  padding: 2vh 2vw;

  .box {
    display: block;
    height: 100%;
    box-shadow: 0 0 10px rgb(97, 218, 251);
    border-radius: 5px;

    .box-title {
      background-color: rgb(97, 218, 251);
      color: rgb(40, 44, 52);
      margin: 0;
      padding: 1vh 2vh;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: 2.5vh;
      font-weight: 500;
    }

    #editor,
    #preview {
      background-color: rgb(40, 44, 52);
      color: white;
      opacity: 0.95;
      width: 40vw;
      height: 92.5%;
      overflow: scroll;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px;

      h5 {
        text-align: justify;
      }

      a {
        color: rgb(97, 218, 251);
      }

      blockquote {
        border-left: 3px solid rgb(97, 218, 251);
        color: rgb(97, 218, 251);
        padding-left: 5px;
        margin-left: 25px;
      }

      code {
        background: rgb(40, 44, 52);
        color: rgb(97, 218, 251);
        padding: 1px 4px 2px 4px;
        font-size: 12px;
        font-weight: bold;
      }

      pre {
        background: rgb(40, 44, 52);
        padding: 5px 0 5px 5px;
      }

      table {
        border-collapse: collapse;
      }

      td,
      th {
        border: 2px solid;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media (max-width: 750px) {
  .container {
    align-items: center;
    padding: 1vh 1vw;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;

    .box {
      width: 95vw;
      height: 42.5vh;

      #editor,
      #preview {
        width: 98%;
        height: 85%;
      }
    }
  }
}
